<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.rest.TC001_SearchUser"/>
      <class name="tests.rest.TC002_SearchPosts"/>
      <class name="tests.rest.TC003_SearchComments"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
